<div class="container">
  <mat-toolbar>
    <span>MODIFICACIÓN DE DOCUMENTOS DE SOLICITUD DE CRÉDITO DE CONSUMO</span>
  </mat-toolbar>
</div>

<div class="container1">
  <mat-card style="margin-top: 40px;">
    <form>
      <mat-grid-list cols="1"  rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h2>Ingrese su Número de Cédula</h2>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Cédula de Identidad</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-flat-button color="primary" class="button ancho">Ingresar</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card>


</div>
