<div class="container">
	<mat-toolbar>
		<span>INFORMACIÓN</span>
	</mat-toolbar>
	<div class="card p-3">
		<div class="row pb-3">
			<div class="col-md-2">
				<div class="px-4">
					<img
						src="{{env}}{{solicitud.cliente.foto.url}}"
						class="img-thumbnail"
						alt=""
					/>
				</div>
			</div>
			<div class="col">
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Nombres:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							{{solicitud.cliente.nombres}}
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Apellidos:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							{{solicitud.cliente.apellidos}}
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Cédula:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							{{solicitud.cliente.cedula}}
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Celular:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							{{solicitud.cliente.celular}}
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Teléfono:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							{{solicitud.cliente.telefono}}
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>E-mail:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							{{solicitud.cliente.correo}}
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Monto</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							${{solicitud.monto_solicitado}}
						</div>
					</div>
				</div>
				<div class="mb-3 row">
					<div class="col-sm-4 col-form-label">
						<strong>Estado:</strong>
					</div>
					<div class="col-sm-auto">
						<div class="form-control-plaintext">
							Aquí va un select
						</div>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-responsive pt-3">
				<thead class="thead-inverse|thead-default">
					<tr>
						<th>Nombre Documento</th>
						<th>Fecha</th>
						<th>Visualizar</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Documento 1</td>
						<td>12/07/2022</td>
						<td>
							<a href="#revisión" class="btn btn-primary"
								>Revisar</a
							>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered table-responsive pt-3">
				<thead class="thead-inverse|thead-default">
					<tr>
						<th>Nombre Documento</th>
						<th>Subir Documento</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Documento a</td>
						<td>
							<a href="#revisión" class="btn btn-primary"
								>Subir</a
							>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mb-3">
				<label for="" class="form-label">Observación</label>
				<input
					type="text"
					class="form-control"
					name=""
					id=""
					aria-describedby="helpId"
					placeholder=""
				/>
			</div>
		</div>
	</div>
	<!-- <mat-card style="margin-top: 10px">
		<form [formGroup]="cliente" (ngSubmit)="cliente.value">
			<mat-grid-list cols="5" rowHeight="70px">
				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Primer Nombre</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Segundo Nombre</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Primer Apellido</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Segundo Apellido</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="3">
					<img src="./assets/img/man.png" width="250" height="250" />
				</mat-grid-tile>

				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Cédula</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Ciudad</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Dirección</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Telefono</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Celular</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Email</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>
		</form>
	</mat-card>

	<mat-card style="margin-top: 10px">
		<form>
			<mat-grid-list cols="4" rowHeight="70px">
				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Nombre de Crédito</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Monto</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Fecha</mat-label>
						<input matInput />
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field class="ancho">
						<mat-label>Estado</mat-label>
						<mat-select>
							<mat-option value="one">Aprobado</mat-option>
							<mat-option value="two">Denegado</mat-option>
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="4" [rowspan]="2">
					<mat-form-field class="ancho">
						<mat-label>Oservación</mat-label>
						<textarea matInput></textarea>
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<button
						mat-flat-button
						color="primary"
						class="button ancho"
					>
						Aceptar
					</button>
				</mat-grid-tile>

				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<button
						mat-flat-button
						color="primary"
						class="button ancho"
						[routerLink]="['/dashboard/solicitudes']"
					>
						Regresar
					</button>
				</mat-grid-tile>
			</mat-grid-list>
		</form>
	</mat-card> -->
</div>
