<mat-toolbar class="panel" color="primary">
  <span>Cooperativa Riobamba Ltda.</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/credito/ingresar">Registro</button>
  <button mat-button routerLink="/credito/buscador">Solicitud</button>
  <button mat-button routerLink="/credito/buscar">Modificar</button>
  <span class="example-spacer"></span>
  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
