.ancho {
	width: 80%;
}

.button {
	height: 50px;
	background-color: #00843e;
}
.panel {
	display: flex;
	justify-content: space-evenly;
	height: 10%;
	background: #f5f5f5;
}

.titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Verdana;
	font-size: 40px;
}

.linea {
	display: flex;
	justify-content: initial;
	height: 1%;
	background: #00843e;
}

.body {
	display: flex;
	justify-content: center;
	height: 89%;
	align-items: center;
	background: #f5f5f5;
}

.registro {
	width: 80%;
	max-width: 80%;
	text-align: center;
}

.spinner {
	margin: 0 auto;
}
