<div class="container">
	<mat-toolbar>
		<span>DATOS DEL CLIENTE</span>
	</mat-toolbar>

	<mat-card style="margin-top: 10px">
		<mat-grid-list cols="5" rowHeight="70px">
			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<mat-label>Nombres: </mat-label>
				<mat-label>{{client.nombres}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<mat-label>Apellidos: </mat-label>
				<mat-label>{{client.apellidos}}</mat-label>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<mat-label>Cédula: </mat-label>
				<mat-label>{{client.cedula}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<mat-label>Ciudad: </mat-label>
				<mat-label>{{client.ciudad}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="1" [rowspan]="3">
				<img src="./assets/img/man.png" width="250" height="250" />
			</mat-grid-tile>

			<mat-grid-tile [colspan]="2" [rowspan]="1">
				<mat-label>Dirección: </mat-label>
				<mat-label>{{client.direccion}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="2" [rowspan]="1">
				<mat-label>Telefono: </mat-label>
				<mat-label>{{client.telefono}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="2" [rowspan]="1">
				<mat-label>Celular:</mat-label>
				<mat-label>{{client.celular}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="2" [rowspan]="1">
				<mat-label>Estado civil:</mat-label>
				<mat-label>{{client.estado_civil.name}}</mat-label>
			</mat-grid-tile>

			<mat-grid-tile [colspan]="4" [rowspan]="1">
				<mat-label>Correo electrónico:</mat-label>
				<mat-label>{{client.correo}}</mat-label>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-card>
</div>
